#output {
    height: 50px;
    margin-top: 20px;
    background-color: #eaeaea;
    padding: 10%;
    border-radius: 5px;
    font-size: 46px;
    text-align: center;
}

.color-box {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.color-sample {
    width: 150px;
    height: 150px;
    margin: 10px;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid darkgray;
    cursor: pointer;
    font-size: 15px;
    display: flex;
    align-items: center;
}

.slider-container {
    margin: 20px 0;
}

.slider-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider {
    width: 100%;
}